
<% case params[:type] %>
<% when 'making' then %>
  <p>制作工程：<%= @making_genre.name %></p>
<% when 'bread' then %>
  <p>パンの種類：<%= @bread_genre.name %></p>
<% else %>
  <p></p>
<% end %>

<% if questions.count == 0 %>
~~~~~~
<% end %>

<% questions.each do |question| %>
  <span><%= link_to question.title, question_path(question)  %></span>
  <%= attachment_image_tag question, :image, :fill, 100, 100, format: 'jpeg' %>
   <p><%= "#{question.answers.count} コメント" %></p>

<% end %>
