<% if params[:user_id] == nil %>


<% elsif params[:type] == 'making' %>
  <p>制作工程：<%= making_genre.name %></p>
<% elsif params[:type] == 'bread' %>
  <p>パンの種類：<%= bread_genre.name %></p>
<% else %>
  <p><%= user.name %>さんの質問履歴</p>
<% end %>

<% if questions.count == 0 %>
~~~~~~
<% end %>

<% questions.each do |question| %>
  <span><%= link_to question.title, question_path(question)  %></span>
  <%= attachment_image_tag question, :image, :fill, 100, 100, format: 'jpeg' %>
   <p><%= "#{question.answers.count} コメント" %></p>

<% end %>


<%= paginate questions %>