<div class="container">
  <% if params[:user_id].present? %>
    <h1 class="text-center"><%= @user.name %>さんの質問履歴</h1>
  <% elsif params[:type] == 'making' %>
     <h1 class="text-center">制作工程：<%= @making_genre.name %></h1>
  <% elsif params[:type] == 'bread' %>
    <h1 class="text-center">パンの種類：<%= @bread_genre.name %></h1>
  <% else %>
    <h1 class="text-center">質問一覧</h1>
  　<div class="text-right mr-5">
    <%= link_to '回答受付中', unsolved_questions_path %><br>
    </div>
  <% end %>
  <%= render 'questions/index', questions: @questions ,making_genre: @making_genre,bread_genre: @bread_genre ,user: @user %>
</div>
