<div class="container d-flex justify-content-center">
  <div class="question-content">
  <h1 class="question-title">タイトル：<%= @question.title %></h1>
  <h3>質問内容：<%= @question.content %></h3>
  <span class="making_genre"><%= @question.making_genre.name %></span>
  <span class="bread_genre"><%= @question.bread_genre.name %></span>
  <p> <%= attachment_image_tag @question, :image, :fill, 200, 200, format: 'jpeg' %></p>
  <p>投稿日時：<%= @question.created_at.strftime('%Y/%m/%d') %></p>
   <p>質問者：<%= link_to user_path(@question.user_id) do %>
   <%= @question.user.name %>
   <%= attachment_image_tag @question.user, :profile_image, :fill, 100, 100, format: 'jpeg' %>
   <% end %>
   </p>


  <% if @question.user == current_user %>
    <%= link_to "編集", edit_question_path(@question) %>
    <%= link_to "削除", question_path(@question), method: :delete,data: {confirm: "削除しますか？"} %>
  <% end %>

  <div class="question_<%= @question.id %>">
<%= render "questions/resolved", question: @question %>
  </div>

  </div>

<div class="answers">
<p>コメント件数：<%= @question.answers.count %></p>
<% @question.answers.each do |answer| %>
<%= attachment_image_tag answer.user, :profile_image, :fill, 100, 100, format: 'jpeg' %>
  <%= answer.user.name %>
  <%= answer.created_at.strftime('%Y/%m/%d') %><%= answer.content %><br>
   <% if answer.user == current_user %>
  <div class="answer-delete">
    <%= link_to "削除", question_answer_path(answer.question, answer), method: :delete,data: {confirm: "削除しますか？"} %>
  </div>
  <% end %>

  <div class="answer_<%= answer.id %>">
<%= render "likes/like", question: @question ,answer: answer, like: answer.likes.first %>
  </div>

<% end %>
</div>

<%= render "layouts/error", object: @answer %>


<div class="new-answer">
<%= form_with(model:[@question, @answer], local: true) do |f| %>
  <%= f.text_area :content, rows:'5',placeholder: "回答をここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>

</div>
</div>

