<div class="container">
  <div class="col-6 offset-3">

    <h3 class="text-center mb-4">プロフィール編集</h3>
    <%= form_with model: @user, local:true do |f| %>
      <div class="m-3">
        <h5 class="my-3">名前</h5>
          <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="m-3">
        <h5 class="my-3">自己紹介</h5>
          <%= f.text_area :introduction, class: "form-control" %>
      </div>
      <div class="m-3">
        <h5 class="my-3">プロフィール画像</h5>
          <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" ,class: "rounded-circle" %>
          <%= f.attachment_field :profile_image, placeholder: "画像" %>
      </div>
      <div class="mt-5 text-center">
        <%= f.submit '保存する' %>
      </div>
    <% end %>

  </div>
</div>
