<div class="container">
  <h3 class="m-4">マイページ</h3>
  <div class="myinformation ">

    <table class="table table-bordered my-3">
      <thead>
        <tr>
          <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
        </tr>
        <tr>
          <th>氏名</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>自己紹介</th>
          <th><%= @user.introduction %></th>
        </tr>
      </thead>
    </table>
     <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
  </div>



<%= form_with url:questions_path,method: :get,required: true , local: true  do |f| %>
  <%= hidden_field_tag :user_id  , @user.id %>
  <%= f.submit "質問履歴を見る",:class=>"button btn-sm"%>
 <% end %>


</div>