<div class="container">
  <div class="d-flex justify-content-center">
    <div>

      <h3 class="text-center">カテゴリ一覧</h3>

      <div class="card shadow w-90 m-5">
        <div class="card-body">
          <h5 class="card-title">製作行程</h5>
          <div class="card-text">
            <% @making_genres.each do |making_genre| %>
              <span>
              <%= link_to questions_path(genre: making_genre.id, type: 'making') do %>
                <%= making_genre.name %>(<%= making_genre.questions.count %>)
              <% end %>
            <% end %>
              </span>
            <span><%=image_tag "bread3.jpg", size: "100" ,class: "col-md-2 offset-md-9 rounded" %></span>
          </div>
        </div>
      </div>
      <div class="card shadow w-90 m-5">
        <div class="card-body">
          <h5 class="card-title">パンの種類</h5>
          <div class="card-text">
            <% @bread_genres.each do |bread_genre| %>
              <span>
              <%= link_to questions_path(genre: bread_genre.id, type: 'bread') do %>
                <%= bread_genre.name %>(<%= bread_genre.questions.count %>)
              <% end %>
              </span>
            <% end %>
            <span><%=image_tag "bread2.png", size: "100" ,class: "col-md-2 offset-md-9 rounded" %></span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>