<%= render "layouts/flash" %>
<header class="navbar navbar-expand-lg navbar-light fixed-top">
  <% if user_signed_in? %>
    <a class="navbar-brand" href="/questions"><%=image_tag "logo.png", size: "100" ,class: "ml-5"%></a>
  <% else %>
    <a class="navbar-brand" href="/questions"><%=image_tag "logo.png", size: "100" ,class: "ml-5"%></a>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          ようこそ、<%= current_user.name %>さん
          <%= attachment_image_tag current_user, :profile_image, :fill, 50, 50, format: 'jpeg',class: "header-profile-image" %>
        </li>
        <li class="nav-item active ml-4">
          <%= link_to questions_path, class: "nav-link btn btn-light btn-outline-dark" do %>
            <i class="fab fa-quora"></i>
          <% end %>
        </li>
        <li class="nav-item active ml-4">
          <%= link_to homes_path, class: "nav-link btn btn-light btn-outline-dark" do %>
            <i class="fas fa-search"></i>
          <% end %>
        </li>
        <li class="nav-item active ml-4">
          <%= link_to user_path(current_user.id), class: "nav-link btn btn-light btn-outline-dark" do %>
            <i class="fas fa-user"></i>
          <% end %>
        </li>
        <li class="nav-item active ml-4">
          <% if unchecked_notifications.any? %>
            <span class="badge bg-danger rounded-pill notification-circle">
              <span class="notifications-count"><%= unchecked_notifications.count %></span>
            </span>
          <% end %>
          <%= link_to notifications_path,class: "nav-link btn btn-light btn-outline-dark" do %>
            <i class="far fa-bell"></i>
          <% end %>
        </li>
        <li class="nav-item active ml-4">
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link btn btn-light btn-outline-dark" do %>
            <i class="fas fa-sign-out-alt"></i>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item active ml-4">
          <%= link_to root_path,class: "nav-link btn btn-light btn-outline-dark" do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="nav-item active ml-4">
          <%= link_to new_user_registration_path, class: "nav-link btn btn-light btn-outline-dark" do %>
            <i class="fas fa-check-circle"></i>
          <% end %>
        </li>
        <li class="nav-item active ml-4">
          <%= link_to new_user_session_path ,class: "nav-link btn btn-light btn-outline-dark" do %>
            <i class="fas fa-sign-in-alt"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</header>
