<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/ff8be2fc38.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="application.scss" />
    <title>おパン</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if user_signed_in? %>
      <%= render 'layouts/search' %>
    <% end %>
    <div class="content">
    <%= yield %>
    </div>
    <footer class="footer text-center p-5">CopyRight ○○.inc</footer>
  </body>
</html>
